Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --cache --fix",
    "bash -c tsc --noEmit --skipLibCheck"
  ],
  "**/*.{css,md,json}": "prettier --write"
}

docs: update license
  LICENSE.md
Due: prettier --write

feat(rewind): add total libraries duration copy
  src/app/dashboard/loading.tsx
  src/app/rewind/_components/RewindStat.tsx
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/_components/Stories/Requests.tsx
  src/app/rewind/_components/Stories/Total.tsx
  src/app/rewind/_components/Stories/Welcome.tsx
  src/app/rewind/loading.tsx
  src/app/rewind/page.tsx
  src/styles/globals.css
  src/types/index.d.ts
  src/utils/constants.ts
  src/utils/fetchOverseerr.ts
  src/utils/getRewind.ts
  tailwind.config.js
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

style: formatting
  README.md
  src/app/_components/CardWrapper.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: started visual refresh
  package.json
  pnpm-lock.yaml
  src/app/_components/AppProvider.tsx
  src/app/_components/CardWrapper.tsx
  src/app/_components/PageTitle.tsx
  src/app/dashboard/(route)/[slug]/page.tsx
  src/app/dashboard/(route)/users/page.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/_components/DashboardNav.tsx
  src/app/dashboard/_components/PeriodSelect.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/loading.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/rewind/layout.tsx
  src/assets/github.svg
  src/components/MediaItem/MediaItem.tsx
  src/styles/globals.css
  src/types/vanta.d.ts
  tailwind.config.js
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(dashboard): responsiveness on laptop size displays
  src/app/_components/CardWrapper.tsx
  src/app/_components/PageTitle.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/layout.tsx
  src/components/MediaItem/MediaItem.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(dashboard): mobile responsiveness
  src/app/_components/CardWrapper.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/_components/DashboardNav.tsx
  src/app/dashboard/_components/PeriodSelect.tsx
  src/app/dashboard/layout.tsx
  src/components/Loader.tsx
  src/components/MediaItem/MediaItem.tsx
  src/components/MediaItem/PlexDeeplink.tsx
  src/styles/globals.css
  src/utils/constants.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(dashboard): loading states styling
  src/app/_components/CardWrapper.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/error.tsx
  src/app/dashboard/loading.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/rewind/_components/Stories/Requests.tsx
  src/app/rewind/error.tsx
  src/components/MediaItem/MediaItem.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

style: add background filter
  src/app/_components/AppProvider.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(rewind): visual refresh
  src/app/_components/AppProvider.tsx
  src/app/_components/CardWrapper.tsx
  src/app/dashboard/layout.tsx
  src/app/rewind/_components/Stories/Libraries.tsx
  src/app/rewind/_components/StoryWrapper.tsx
  src/app/rewind/layout.tsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: background resize and types
  package.json
  pnpm-lock.yaml
  src/app/_components/AppProvider.tsx
  src/app/_components/CardWrapper.tsx
  src/app/dashboard/(route)/[slug]/page.tsx
  src/app/dashboard/(route)/users/page.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/styles/globals.css
  src/types/vanta.d.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

docs: update readme screenshots
  README.md
  src/app/_components/CardWrapper.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

refactor: github logo size
  src/app/_components/AppProvider.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: visual overhaul
  README.md
  package.json
  pnpm-lock.yaml
  src/app/_components/AppProvider.tsx
  src/app/_components/CardWrapper.tsx
  src/app/_components/PageTitle.tsx
  src/app/dashboard/(route)/[slug]/page.tsx
  src/app/dashboard/(route)/users/page.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/_components/DashboardNav.tsx
  src/app/dashboard/_components/PeriodSelect.tsx
  src/app/dashboard/error.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/loading.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/rewind/_components/Stories/Libraries.tsx
  src/app/rewind/_components/Stories/Requests.tsx
  src/app/rewind/_components/StoryWrapper.tsx
  src/app/rewind/error.tsx
  src/app/rewind/layout.tsx
  src/assets/github.svg
  src/components/Loader.tsx
  src/components/MediaItem/MediaItem.tsx
  src/components/MediaItem/PlexDeeplink.tsx
  src/styles/globals.css
  src/types/vanta.d.ts
  src/utils/constants.ts
  tailwind.config.js
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

docs: update readme
  README.md
Due: prettier --write

docs: moved variables reference to wiki
  README.md
Due: prettier --write

docs: readme badge links update
  README.md
Due: prettier --write

docs: add badge links to readme
  README.md
Due: prettier --write

docs: added contributing guidelines
  CONTRIBUTING.md
Due: prettier --write

chore(release): 1.6.0
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1a29e175f5485de39bf1719410e2291aa9c099c5
Due: none

fix: italic emoji
  src/app/rewind/_components/Stories/Requests.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore(release): 1.7.0
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a29733a471628a83f04f21fd743bbe696d41b41e
Due: none

docs: fix changelog
  CHANGELOG.md
Due: prettier --write

chore: fix develop package version
  package.json
Due: prettier --write

fix(ui): various small tweaks to clean up new design language
  README.md
  src/app/_components/CardWrapper.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/error.tsx
  src/app/layout.tsx
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/_components/Stories/AudioTop.tsx
  src/app/rewind/_components/Stories/MoviesTop.tsx
  src/app/rewind/_components/Stories/ShowsTop.tsx
  src/app/rewind/_components/StoryWrapper.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: use past 365 days instead of astronomical year (#55)
  src/app/dashboard/_components/PeriodSelect.tsx
  src/app/rewind/_components/Stories/Audio.tsx
  src/app/rewind/_components/Stories/Movies.tsx
  src/app/rewind/_components/Stories/Requests.tsx
  src/app/rewind/_components/Stories/Shows.tsx
  src/app/rewind/_components/Stories/Total.tsx
  src/utils/constants.ts
  src/utils/getRewind.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore(release): 1.7.1
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  87ceafe1cc6f04e99ff65d28c02b837bded3e259
Due: none

feat(rewind): enable seeing managed users' rewind (#37)
  src/app/api/managed-users/route.ts
  src/app/page.tsx
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/_components/Stories/Audio.tsx
  src/app/rewind/_components/Stories/Welcome.tsx
  src/app/rewind/page.tsx
  src/types/index.d.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore(release): 1.8.0
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  925eb0a86a7fe53d8bfcf1b65a7c6d01ae1a9977
Due: none

fix(dashboard): loading state height
  src/app/dashboard/loading.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore(release): 1.8.1
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6b36b39e0735a74a57d7fcb93e391d3edc4a6131
Due: none
