Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --cache --fix",
    "bash -c tsc --noEmit --skipLibCheck"
  ],
  "**/*.{css,md,json}": "prettier --write"
}

feat: test settings before saving
  .gitignore
  package.json
  pnpm-lock.yaml
  src/actions/update-connection-settings.ts
  src/actions/update-feature-settings.ts
  src/app/_components/AppProvider.tsx
  src/app/api/status/route.ts
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/config/config.ts
  src/config/settings.json
  src/config/settings.ts
  src/types/index.d.ts
  src/utils/fetchTautulli.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: settings path
  src/config/config.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

refactor: clean up settings logic
  .env
  Dockerfile
  docker-compose.yml
  docker-entrypoint.sh
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/actions/update-connection-settings.ts
  src/app/_components/PageTitle.tsx
  src/app/api/status/route.ts
  src/app/settings/_components/SettingsForm.tsx
  src/app/settings/_components/SettingsNav.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/connection/page.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/app/settings/features/page.tsx
  src/lib/auth.ts
  src/styles/globals.css
  src/types/index.d.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

perf: cache stylelint
  .lintstagedrc.json
  package.json
Due: prettier --write

fix: use kebab instead of snake case for libraries
  .env
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/actions/update-connection-settings.ts
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/_components/DashboardNav.tsx
  src/app/page.tsx
  src/app/settings/_components/SettingsForm.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/app/settings/layout.tsx
  src/components/MediaItem/MediaItem.tsx
  src/utils/fetchTautulli.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: added SSO cookie auth
  src/app/_components/AppProvider.tsx
  src/app/layout.tsx
  src/app/page.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Cleanup console logs
  src/app/page.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: don't show disabled buttons during setup
  Dockerfile
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  src/app/_components/AppProvider.tsx
  src/app/_components/PageTitle.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/app/settings/layout.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update dependencies
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: handling of APP_URL
  .env
  .gitignore
  package.json
  pnpm-lock.yaml
  src/actions/update-connection-settings.ts
  src/app/_components/AppProvider.tsx
  src/app/_components/SessionProvider.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/rewind/page.tsx
  src/app/settings/_components/SettingsForm.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/config/config.ts
  src/config/settings.json
  src/lib/auth.ts
  src/styles/globals.css
  src/types/index.d.ts
  tsconfig.json
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: auth
  pnpm-lock.yaml
  src/app/_components/AppProvider.tsx
  src/app/rewind/page.tsx
  src/app/settings/_components/SettingsForm.tsx
  src/app/settings/layout.tsx
  src/lib/auth.ts
  src/types/next-auth.d.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

docs: update readme
  README.md
Due: prettier --write

fix: build
  .env
  .github/workflows/tests.yml
  Dockerfile
  README.md
  docker-compose.yml
  docker-entrypoint.sh
  package.json
  src/app/api/managed-users/route.ts
  src/app/dashboard/users/page.tsx
  src/lib/auth.ts
  src/utils/fetchOverseerr.ts
  src/utils/fetchTautulli.ts
  src/utils/fetchTmdb.ts
  src/utils/getDashboard.ts
  src/utils/getMediaAdditionalData.ts
  src/utils/getRewind.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: generating next-auth secret
  Dockerfile
Due: none

style: rename admin to isAdmin
  src/app/_components/AppProvider.tsx
  src/app/rewind/page.tsx
  src/app/settings/layout.tsx
  src/lib/auth.ts
  src/types/next-auth.d.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: useSearchParams usage
  src/app/_components/Home.tsx
  src/app/dashboard/_components/DashboardNav.tsx
  src/app/dashboard/_components/DashboardNavContent.tsx
  src/app/dashboard/_components/PeriodSelect.tsx
  src/app/dashboard/_components/PeriodSelectContent.tsx
  src/app/page.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: redirect loop
  src/app/settings/layout.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

refactor: config
  Dockerfile
  docker-compose.yml
  next.config.mjs
  src/actions/update-connection-settings.ts
  src/actions/update-feature-settings.ts
  src/app/_components/AppProvider.tsx
  src/app/_components/Home.tsx
  src/app/_components/PageTitle.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/users/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/_components/Stories/Requests.tsx
  src/app/rewind/layout.tsx
  src/app/rewind/page.tsx
  src/app/settings/_components/SettingsForm.tsx
  src/app/settings/_components/SettingsNav.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/connection/page.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/app/settings/features/page.tsx
  src/app/settings/layout.tsx
  src/components/MediaItem/MediaItem.tsx
  src/components/MediaItem/MediaItems.tsx
  src/config/config.ts
  src/utils/constants.ts
  src/utils/fetchOverseerr.ts
  src/utils/fetchTautulli.ts
  src/utils/fetchTmdb.ts
  src/utils/getSettings.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: revalidation
  next.config.mjs
  src/actions/update-connection-settings.ts
  src/actions/update-feature-settings.ts
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/users/page.tsx
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/_components/Stories/Audio.tsx
  src/app/rewind/_components/Stories/AudioTop.tsx
  src/app/rewind/_components/Stories/Movies.tsx
  src/app/rewind/_components/Stories/MoviesTop.tsx
  src/app/rewind/_components/Stories/Requests.tsx
  src/app/rewind/_components/Stories/Shows.tsx
  src/app/rewind/_components/Stories/ShowsTop.tsx
  src/app/rewind/page.tsx
  src/components/MediaItem/MediaItems.tsx
  src/types/index.d.ts
  src/utils/fetchTautulli.ts
  src/utils/getSettings.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

style: update .env
  .env
Due: none

refactor: cleanup
  .env
  README.md
  src/actions/update-connection-settings.ts
  src/actions/update-feature-settings.ts
  src/app/layout.tsx
  src/app/rewind/page.tsx
  src/config/config.ts
  src/lib/auth.ts
  src/utils/constants.ts
  src/utils/getSettings.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: remove statistics start date
  src/actions/update-feature-settings.ts
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/config/settings.json
  src/types/index.d.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: format
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: settings file
  config/settings.json
Due: prettier --write

feat(#32): docker image publishing workflows (#98)
  .env
  .env.example
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
  README.md
  config/settings.json
  docker-compose.yml
  src/utils/constants.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

ci: attempt at fixing publish
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
Due: prettier --write

ci: attempt at fixing publish (#99)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
Due: prettier --write

build: update dockerfile
  Dockerfile
  README.md
Due: prettier --write

build: update dockerfile (#100)
  Dockerfile
  README.md
Due: prettier --write

build: fix missing settings file in docker
  Dockerfile
Due: none

build: fix missing settings file (#101)
  Dockerfile
Due: none

build: actually fix missing settings file in docker
  Dockerfile
Due: none

build: actually fix missing settings file in docker image (#102)
  Dockerfile
Due: none

build: fix issues
  Dockerfile
  README.md
  config/settings.json
  docker-compose.yml
  docker-entrypoint.sh
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/config/settings.json
  src/utils/constants.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

build: fix issues (#103)
  Dockerfile
  README.md
  config/settings.json
  docker-compose.yml
  docker-entrypoint.sh
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/config/settings.json
  src/utils/constants.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

build: fix settings mount
  Dockerfile
  src/app/_components/Home.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/users/page.tsx
  src/app/rewind/layout.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: create empty settings file if it doesn't exist yet
  Dockerfile
  src/utils/constants.ts
  src/utils/getSettings.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck
