Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(rewind): add "is_active" check for managed users
  src/app/api/managed-users/route.ts
  src/types/index.d.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: add missing og image
  src/app/opengraph-image.jpg
Due: none

chore(release): 1.8.2
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0ba8086f3d4768116d15020c0db129c67828a77e
Due: none

perf: don't use motion on homepage
  src/app/page.tsx
  src/app/rewind/_components/Stories/Welcome.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

style: optimize the use of tailwind opacity
  src/app/_components/AppProvider.tsx
  src/app/_components/CardWrapper.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/page.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: background jumping and flickering
  README.md
  src/app/_components/AppProvider.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore(release): 1.8.3
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  539f12257a701b73bbc7a00bfb576b109aa55d6f
Due: none

fix(home): constant refresh
  src/app/page.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore(release): 1.8.4
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2c15e651a8c871351df2af1b7ba7d7154b294f8a
Due: none

fix(rewind): play/pause button positioning
  src/app/rewind/_components/StoryWrapper.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore(release): 1.8.5
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d4f1be887ef1fd21f66d312c00f03bbb910c6340
Due: none

fix(rewind): play controls positioning again
  src/app/rewind/_components/StoryWrapper.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: background on safari
  src/app/_components/AppProvider.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore(release): 1.8.6
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7aea5319b1f982f7a757b8dc0c412e061d03bbdf
Due: none

feat(config): added settings modal
  package.json
  pnpm-lock.yaml
  src/app/_components/AppProvider.tsx
  src/app/_components/CardWrapper.tsx
  src/app/_components/Settings.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(config): added settings tabs
  package.json
  pnpm-lock.yaml
  src/app/_components/Settings.tsx
  src/app/dashboard/_components/DashboardNav.tsx
  src/app/dashboard/_components/PeriodSelect.tsx
  src/app/dashboard/error.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/rewind/_components/Stories/Requests.tsx
  src/components/AppProvider.tsx
  src/components/GoogleAnalytics.tsx
  src/components/Settings/Settings.tsx
  src/styles/globals.css
  tailwind.config.js
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(config): add settings page
  .github/ISSUE_TEMPLATE/bug.yml
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/users/page.tsx
  src/app/settings/page.tsx
  src/components/AppProvider.tsx
  src/components/Settings/Settings.tsx
  src/components/Switch.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(dependencies): sharp (#92)
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(release): 1.8.7
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8b040e962b4c6be71619248ec32306d190c26fd0
Due: none

chore: change dev package version
  package.json
Due: prettier --write

refactor(dependencies): swap out radix-ui for react-aria-components
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/settings/page.tsx
  src/components/Switch.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

refactor: clean up styles
  package.json
  pnpm-lock.yaml
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/_components/DashboardNav.tsx
  src/app/dashboard/_components/PeriodSelect.tsx
  src/app/dashboard/error.tsx
  src/app/dashboard/layout.tsx
  src/app/page.tsx
  src/app/settings/page.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(config): separate settings into pages
  src/app/layout.tsx
  src/app/settings/_components/SettingsNav.tsx
  src/app/settings/connection/page.tsx
  src/app/settings/features/page.tsx
  src/app/settings/layout.tsx
  src/app/settings/page.tsx
  src/components/AppProvider.tsx
  src/styles/globals.css
  src/utils/fetchTautulli.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: added db connection
  .env
  .gitignore
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  src/app/_components/CardWrapper.tsx
  src/app/dashboard/layout.tsx
  src/app/layout.tsx
  src/app/rewind/_components/RewindStat.tsx
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/_components/StatListItem.tsx
  src/app/rewind/_components/StoryWrapper.tsx
  src/app/rewind/layout.tsx
  src/app/settings/connection/page.tsx
  src/app/settings/features/page.tsx
  src/app/settings/layout.tsx
  src/components/AppProvider.tsx
  src/components/MediaItem/MediaItemTitle.tsx
  src/types/index.d.ts
  src/utils/settings.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: checkboxes validation
  prisma/schema.prisma
  src/app/settings/features/page.tsx
  src/styles/globals.css
  src/utils/settings.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: enable saving features settings
  .env
  .gitignore
  prisma/schema.prisma
  src/app/settings/features/page.tsx
  src/utils/settings.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: prisma client reinitializing
  package.json
  prisma/schema.prisma
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/connection/page.tsx
  src/lib/db.ts
  src/types/index.d.ts
  src/utils/settings.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

refactor: project organization
  src/actions/get-settings.ts
  src/actions/update-settings.ts
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/users/page.tsx
  src/app/page.tsx
  src/app/rewind/page.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/connection/page.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/app/settings/features/page.tsx
  src/app/settings/layout.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

refactor: replace db with .json file
  .gitignore
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  src/actions/get-settings.ts
  src/actions/update-connection-settings.ts
  src/actions/update-feature-settings.ts
  src/actions/update-settings.ts
  src/app/dashboard/users/page.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/connection/page.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/app/settings/features/page.tsx
  src/components/Loader.tsx
  src/styles/globals.css
  src/types/index.d.ts
  src/utils/config.ts
  src/utils/settings.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

refactor: code cleanup
  src/actions/update-connection-settings.ts
  src/actions/update-feature-settings.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/app/settings/features/page.tsx
  src/lib/auth.ts
  src/lib/db.ts
  src/types/index.d.ts
  src/utils/config.ts
  src/utils/fetchOverseerr.ts
  src/utils/fetchTautulli.ts
  src/utils/fetchTmdb.ts
  src/utils/settings.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: integrate first settings fetching logic
  next.config.mjs
  package.json
  src/actions/update-connection-settings.ts
  src/actions/update-feature-settings.ts
  src/app/dashboard/_components/DashboardNav.tsx
  src/app/dashboard/layout.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/rewind/_components/RewindStat.tsx
  src/app/rewind/layout.tsx
  src/app/settings/_components/SaveButton.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/components/MediaItem/MediaItem.tsx
  src/components/MediaItem/MediaItems.tsx
  src/types/index.d.ts
  src/utils/config.ts
  src/utils/fetchTautulli.ts
  tsconfig.json
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: add missing stats for activeDashboardStatistics
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/components/MediaItem/MediaItem.tsx
  src/types/index.d.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

refactor: get most settings from settings file
  .env
  src/actions/update-connection-settings.ts
  src/actions/update-feature-settings.ts
  src/app/_components/AppProvider.tsx
  src/app/_components/GoogleAnalytics.tsx
  src/app/dashboard/_components/DashboardNav.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/users/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/_components/Stories/Requests.tsx
  src/app/rewind/layout.tsx
  src/app/rewind/page.tsx
  src/app/settings/connection/page.tsx
  src/app/settings/features/page.tsx
  src/components/MediaItem/MediaItem.tsx
  src/components/MediaItem/MediaItems.tsx
  src/config/config.ts
  src/config/settings.json
  src/config/settings.ts
  src/types/index.d.ts
  src/utils/config.ts
  src/utils/constants.ts
  src/utils/fetchOverseerr.ts
  src/utils/fetchTautulli.ts
  src/utils/fetchTmdb.ts
  src/utils/settings.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Path conditions:
  prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{css,md,json})
  eslint --cache --fix: any of: **/*.{js,jsx,ts,tsx}
  bash -c tsc --noEmit --skipLibCheck: any of: **/*.{js,jsx,ts,tsx}
