Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore(release): 1.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b9c64b7f14091c8404e8070506d9dee58382bc9f
Due: none

docs: fix changelog
  CHANGELOG.md
Due: prettier --write

fix: analytics
  next.config.mjs
  src/lib/sw.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore(release): 1.4.1
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  41494f45c615a84e890c386410c1b83c562fca99
Due: none

chore(pwa): disable in dev
  next.config.mjs
Due: none

docs: update readme
  .github/workflows/tests.yml
  CODE_OF_CONDUCT.md
  LICENSE
  README.md
Due: prettier --write

docs: update readme
  README.md
Due: prettier --write

docs: update license
  LICENSE
Due: none

style(rewind): don't hide duration
  src/app/rewind/_components/Stories/Audio.tsx
  src/app/rewind/_components/Stories/Movies.tsx
  src/app/rewind/_components/Stories/Shows.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore: update license
  LICENSE
Due: none

feat(dashboard): allow disabling individual stats and users page
  .env
  README.md
  src/app/dashboard/(route)/users/page.tsx
  src/app/dashboard/_components/DashboardNav.tsx
  src/components/MediaItem/MediaItem.tsx
  src/utils/config.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore: add default statistics start date to .env
  .env
Due: none

chore(release): 1.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6c58bb31a7523ad66a9ddecea786636d6023246d
Due: none

chore: fix dev package version
  package.json
Due: prettier --write

fix: content size in mobile
  src/app/_components/AppProvider.tsx
  src/app/_components/CardWrapper.tsx
  src/app/dashboard/layout.tsx
  src/app/layout.tsx
  src/app/rewind/layout.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore(release): 1.5.1
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2a448569845706cc048e114f47b908cd669d704b
Due: none

fix: desktop layout
  src/app/_components/CardWrapper.tsx
  src/app/dashboard/layout.tsx
  src/app/rewind/layout.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore(release): 1.5.2
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8ad9fba518051beb92e1ff601e777b0a819814b1
Due: none

fix(rewind): stat alignment on desktop
  src/app/_components/CardWrapper.tsx
  src/app/dashboard/error.tsx
  src/app/rewind/_components/RewindStat.tsx
  src/app/rewind/_components/StoryWrapper.tsx
  src/app/rewind/error.tsx
  src/app/rewind/layout.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore(release): 1.5.3
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6a2f53c1e5ea120731242399e1ba989bcf5d391d
Due: none

fix(rewind): card size on tablet
  src/app/_components/CardWrapper.tsx
  src/app/rewind/_components/RewindStories.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore(release): 1.5.4
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e3cc279e1234167271c5072e09c43e0a31efcb99
Due: none

docs: moved variables reference to wiki
  README.md
Due: prettier --write

docs: add badge links to readme
  README.md
Due: prettier --write

docs: readme badge links update
  README.md
Due: prettier --write

docs: added contributing guidelines
  CONTRIBUTING.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{css,md,json})
  eslint --cache --fix: any of: **/*.{js,jsx,ts,tsx}
  bash -c tsc --noEmit --skipLibCheck: any of: **/*.{js,jsx,ts,tsx}
